@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

body{
    background: linear-gradient(to right, #2b5876, #4e4376);
    overflow: hidden;
    font-family: 'Roboto Slab', serif;
}

.nav{
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0rem 5rem;
    margin-top: -10px;
    z-index: 999999999999999;
}



.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
} 
.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn20 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.container{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:100vw;
    height:98vh;
    padding:50px;
    background-color: #f5f5f5;
    box-shadow: 0 10px 20px #dbdbdb;
}
#slide{
    width:max-content;
    margin-top:50px;
}
.item{
    width:180px;
    height:280px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 10px 20px #505050;
}
.item:nth-child(1),
.item:nth-child(2){
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 0;
    width:100%;
    height:100%;
    box-shadow: none;
}
.item:nth-child(3){
    left:60%;
}
.item:nth-child(4){
    left:calc(55% + 220px);
}
.item:nth-child(5){
    left:calc(55% + 440px);
}
.item:nth-child(n+6){
    left:calc(55% + 660px);
    opacity: 0;
}
.item .content{
    position: absolute;
    top:60%;
    left:100px;
    width:300px;
    text-align: left;
    padding:2rem;
    color: #0f4c5c;
    text-shadow: 0px 3px 5px rgba(18, 35, 39, 1);
    transform: translate(0,-50%);
    display: none;
}

span{
    color: #e29578;
    font-weight: 900;
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item .name{
    font-size: 60px;
    font-weight: 900;
    opacity: 0;
    animation:anim 1s ease-in-out 1 forwards;
}

.btn{
    padding:0.6rem;
    margin-top: 2rem;
    border:none;
    opacity: 0;
    font-size: 18px;
    outline: none;
    border-radius: 15px;
    background: linear-gradient(45deg, #0f4c5c, #e29578, #0f4c5c);
    text-transform: uppercase;
    font-weight: 500;
    animation:anim 1s ease-in-out 0.6s 1 forwards;
    transition: all 0.5s ease;
    cursor: pointer;
    color: #fff;
    letter-spacing: 0.1em;
    text-shadow: 0px 1px 1px rgba(18, 35, 39, 1);
}

@keyframes anim{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}
.buttons{
    position: absolute;
    left: 550px;
    bottom:60px;
    z-index: 222222;
    text-align: center;
}
.buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
    cursor: pointer;
}

.buttons button:hover{
    background-color: #e29578;
}
@media (max-width:1024px) {
    .item .content{
        /* left: 30px; */
        top: 75%;
    }
}
@media (max-width:500px) {
    .buttons{
        left: 400px;
    }
}
@media (max-width:410px) {
    .item .content{
        left: 30px;
        top: 75%;
    }
    .buttons{
        left: 250px;
    }
}
